<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['logo.png'].url %><br>
    <h2>Welcome to <%= link_to('https://shyam-eshopper.herokuapp.com/') do  %>
      Eshopper<%end%>,<%=@user.firstname%>
    </h2>
    <p>
      You have successfully signed up to <%= link_to('https://shyam-eshopper.herokuapp.com/') do  %>
      eshopper.com<%end%><br>
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to('https://shyam-eshopper.herokuapp.com/users/sign_in') do  %>
      Eshopper<%end%>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>