<section id="myorders">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%=link_to 'Home', root_url%></li>
        <li class="active">Orders</li>
      </ol>
    </div>

    <h2>Orders</h2>

    <div class="panel-group">
    <% @orders.each do |order|%>
      <% unless order.order_status == "pending"%>
        <div class="panel panel-info">
          <div class="panel-heading order-panel">
            <table class="table order-table">
              <tr>
                <td>
                  <p>Order Id <%= order.id%></p>
                  <%= link_to "Order details", payment_charges_path(order_id: order.id)%>
                </td>
                <td>
                  <p>Total Amount</p>
                  &#8377; <%= order.grand_total%>
                  (incl. Tax + Shipping charges)
                </td>
                <td>
                  <p>Address</p>
                  <% if order.address.present?%>
                    <%= order.address.name%>
                  <% end %>
                </td>
                <td>
                  <p>Order Placed</p> 
                  <%= order.created_at.strftime("%d / %m / %Y") %>
                </td>
                <td>
                  <p>Order Status</p> 
                  <%if order.order_status == "sucessfull"%>
                    <p>Order sucessfully placed</p>
                  <%elsif order.order_status == "pending"%>
                    <p>Pending Order</p>
                  <%elsif order.order_status == "cancel"%>
                    <p>Order cancelled.</p>
                  <%end%>
                </td>
              </tr>
            </table>
          </div>

          <table class="table table-condensed">
            <col width="10%">
            <col width="80%">
            <% order.orderitems.each do |order_item| %>
              <tbody>
                <tr>
                  <td>
                    <%= link_to product_path(order_item.product.id) do %>
                      <%= image_tag(order_item.product.pictures.first.image.url,class: 'cart-image', style: "width:100px;height:100px") %>
                    <%end%>
                  </td>
                  <td>
                    <div><%= link_to order_item.product.name, product_path(order_item.product)%> </div>
                    <div>&#8377; <%=order_item.product.price%></div>              
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      <%end%>
    <% end %>      
    </div>
  </div>
</section>