<div class="total_area">
  <ul>
    <li>Cart Sub Total <span id="cart_sub_total">&#8377; <%=@sub_total%></span></li>
    <li>Discount<span id="discount">&#8377; <%= @discount %></span></li>
    <li>Eco Tax <span id="tax">&#8377; <%= @tax %></span></li>
    <li>Shipping Cost <span id="shipping_cost">&#8377; <%= @shipping_cost %></span></li>
    <li>Total <span id="sub_sub_total_">&#8377; <%= @final_total %></span></li>
  </ul>
    <%= link_to 'Check out',checkouts_path,  class: "btn btn-default check_out"%>
</div>