
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add new Address</button> -->
  

  <!-- Modal -->
  
<div class="modal-dialog model_dialog_one">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add New Address</h4>
    </div>
    <div class="modal-body">
      <div class="shopper-informations">
        <div class="row">
          <%=form_for @addresses, :html => { :id=>'submit-form'} do |f|%>
            <div class="col-sm-12 clearfix">                 
              <div class="bill-to">
                <!-- <p>Bill To</p> -->
                <div class="form-one">
                    <%= f.text_field :name, placeholder: "Name"%>
                    <%= f.text_field :email, placeholder: "Email"%>
                    <select>
                      <option>-- Country --</option>
                      <option>United States</option>
                      <option>Bangladesh</option>
                      <option>UK</option>
                      <option>India</option>
                      <option>Pakistan</option>
                      <option>Ucrane</option>
                      <option>Canada</option>
                      <option>Dubai</option>
                    </select>
                    <select>
                      <option>-- State / Province / Region --</option>
                      <option>United States</option>
                      <option>Bangladesh</option>
                      <option>UK</option>
                      <option>India</option>
                      <option>Pakistan</option>
                      <option>Ucrane</option>
                      <option>Canada</option>
                      <option>Dubai</option>
                    </select>
                    <%= f.text_field :address_one, placeholder: "Address1"%>
                    <%= f.text_field :address_two, placeholder: "Address2"%>
                    <%= f.text_field :zip_code, placeholder: "Zip / Postal Code"%>
                    <%= f.text_field :mobile_number, placeholder: "Mobile Phone"%>
                    <%= f.hidden_field :status, :value => 'active'%>
                </div>
              </div>
            </div>
          <%end%>          
        </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag "Submit", class: "btn btn-sucess", onClick: "$('#submit-form').submit()"%>
      <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger", "data-dismiss" => "modal", "aria-hidden" => "true" %>
    </div>
  </div>     
</div>
  
