<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @address.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @address.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @address.address_two %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @address.mobile_number %>
</p>

<p>
  <strong>Address type:</strong>
  <%= @address.address_type %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
