<div class="modal-dialog ">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Track Your Order</h4>
    </div>
    <div class="modal-body">
      <div class="progress" style="height: 25px">
        <div class="row">
          <% if @order.order_status =='successfull'%>
            <%= render 'success_section'%>
          <% elsif @order.order_status=='in-transit'%>
            <%= render 'in-transit_section'%>
          <% elsif @order.order_status == 'shipped'%>
            <%= render 'shipped_section'%>
          <% elsif @order.order_status == 'delivered' %>
            <%= render 'delivered_section'%>
          <%end%>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
    </div>
  </div>     
</div>